# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
eggs/
.eggs/
*.egg-info/
*.egg
MANIFEST
dist/
build/

# phanterpwa
*.ini
*.log
*.sqlite
app.ini
project.ini
secret.ini
config.json
backapps/*/uploads/*
backapps/*/databases/*
frontapps/*/sources/transcrypts/__target__/*
frontapps/*/www/*
frontapps/*/sources/styles/application.sass
frontapps/*/statics/css/phanterpwa.css
frontapps/*/statics/json/manifest.json
frontapps/*/statics/json/manifest.webmanifest
frontapps/*/statics/xml/browserconfig.xml
*.table

!lib/codemirror.css
!lib/codemirror.js
frontapps/*/sources/transcrypts/auto/*
temp/*
trash/*
logs/*
!backapps/*/uploads/readme.txt
!log/readme.txt
!temp/readme.txt
!trash/readme.txt
!backapps/*/databases/readme.txt
tests/profile_image_cutted/1_profile_arbritary_cut.jpg
tests/profile_image_cutted/2_profile_arbritary_cut.jpg
tests/profile_image_cutted/3_profile_arbritary_cut.jpg
tests/profile_image_cutted/profile_h_auto.jpg
tests/profile_image_cutted/profile_v_auto.jpg
watching.py
*.bat
token.txt
