include phanterpwa/captchasvg/captchadata.json
include phanterpwa/captchasvg/recipes/circle.recs
include phanterpwa/captchasvg/recipes/heart.recs
include phanterpwa/captchasvg/recipes/octagon.recs
include phanterpwa/captchasvg/recipes/square.recs
include phanterpwa/captchasvg/recipes/star.recs
include phanterpwa/captchasvg/sass/captcha.sass
include phanterpwa/captchasvg/vectors/animal/butterfly.recs
include phanterpwa/captchasvg/vectors/animal/crab.recs
include phanterpwa/captchasvg/vectors/animal/pig.recs
include phanterpwa/captchasvg/vectors/animal/rabbit.recs
include phanterpwa/captchasvg/vectors/animal/rooster.recs
include phanterpwa/captchasvg/vectors/arrow/down.recs
include phanterpwa/captchasvg/vectors/arrow/left.recs
include phanterpwa/captchasvg/vectors/arrow/right.recs
include phanterpwa/captchasvg/vectors/arrow/up.recs
include phanterpwa/captchasvg/vectors/letter/a.recs
include phanterpwa/captchasvg/vectors/letter/b.recs
include phanterpwa/captchasvg/vectors/letter/c.recs
include phanterpwa/captchasvg/vectors/letter/d.recs
include phanterpwa/captchasvg/vectors/mean_of_transport/airplane.recs
include phanterpwa/captchasvg/vectors/mean_of_transport/car.recs
include phanterpwa/captchasvg/vectors/mean_of_transport/motorcycle.recs
include phanterpwa/captchasvg/vectors/mean_of_transport/ship.recs
include phanterpwa/captchasvg/vectors/number/four.recs
include phanterpwa/captchasvg/vectors/number/one.recs
include phanterpwa/captchasvg/vectors/number/three.recs
include phanterpwa/captchasvg/vectors/number/two.recs
include phanterpwa/components/preloaders/android.sass
include phanterpwa/components/preloaders/discs.sass
include phanterpwa/components/preloaders/explosion.sass
include phanterpwa/components/preloaders/run_points.sass
include phanterpwa/components/preloaders/square.sass
include phanterpwa/components/preloaders/squares.sass
include phanterpwa/interface/Admin/backapps/api/databases/c8b669d15150d7109e5f7ab36744a5b7_auth_activity.table
include phanterpwa/interface/Admin/backapps/api/databases/c8b669d15150d7109e5f7ab36744a5b7_auth_group.table
include phanterpwa/interface/Admin/backapps/api/databases/c8b669d15150d7109e5f7ab36744a5b7_auth_membership.table
include phanterpwa/interface/Admin/backapps/api/databases/c8b669d15150d7109e5f7ab36744a5b7_auth_user.table
include phanterpwa/interface/Admin/backapps/api/databases/c8b669d15150d7109e5f7ab36744a5b7_auth_user_phanterpwagallery.table
include phanterpwa/interface/Admin/backapps/api/databases/c8b669d15150d7109e5f7ab36744a5b7_captcha.table
include phanterpwa/interface/Admin/backapps/api/databases/c8b669d15150d7109e5f7ab36744a5b7_client.table
include phanterpwa/interface/Admin/backapps/api/databases/c8b669d15150d7109e5f7ab36744a5b7_csrf.table
include phanterpwa/interface/Admin/backapps/api/databases/c8b669d15150d7109e5f7ab36744a5b7_email_user_list.table
include phanterpwa/interface/Admin/backapps/api/databases/c8b669d15150d7109e5f7ab36744a5b7_google_captcha.table
include phanterpwa/interface/Admin/backapps/api/databases/c8b669d15150d7109e5f7ab36744a5b7_phanterpwagallery.table
include phanterpwa/interface/Admin/backapps/api/databases/c8b669d15150d7109e5f7ab36744a5b7_social_auth.table
include phanterpwa/interface/Admin/backapps/api/databases/c8b669d15150d7109e5f7ab36744a5b7_two_factor_login.table
include phanterpwa/interface/Admin/backapps/api/databases/readme.txt
include phanterpwa/interface/Admin/backapps/api/databases/sql.log
include phanterpwa/interface/Admin/backapps/api/databases/storage.sqlite
include phanterpwa/interface/Admin/backapps/api/languages/admin/entries.json
include phanterpwa/interface/Admin/backapps/api/languages/admin/pt-BR.json
include phanterpwa/interface/Admin/backapps/api/languages/captcha/entries.json
include phanterpwa/interface/Admin/backapps/api/languages/captcha/pt-BR.json
include phanterpwa/interface/Admin/backapps/api/languages/email/entries.json
include phanterpwa/interface/Admin/backapps/api/languages/email/pt-BR.json
include phanterpwa/interface/Admin/backapps/api/languages/entries.json
include phanterpwa/interface/Admin/backapps/api/languages/pt-BR.json
include phanterpwa/interface/Admin/backapps/api/statics/images/user.png
include phanterpwa/interface/Admin/backapps/api/statics/images/warning.png
include phanterpwa/interface/Admin/backapps/api/uploads/readme.txt
include phanterpwa/interface/Admin/frontapps/admin/languages/entries.json
include phanterpwa/interface/Admin/frontapps/admin/languages/pt-BR.json
include phanterpwa/interface/Admin/frontapps/admin/sources/styles/application.sass
include phanterpwa/interface/Admin/frontapps/admin/sources/styles/extends/capcha_preload.sass
include phanterpwa/interface/Admin/frontapps/admin/sources/styles/extends/logo.sass
include phanterpwa/interface/Admin/frontapps/admin/sources/styles/extends/phanterpwa-logo.sass
include phanterpwa/interface/Admin/frontapps/admin/sources/styles/extends/run_points.sass
include phanterpwa/interface/Admin/frontapps/admin/sources/styles/gates/components.sass
include phanterpwa/interface/Admin/frontapps/admin/sources/styles/gates/developer.sass
include phanterpwa/interface/Admin/frontapps/admin/sources/styles/gates/main.sass
include phanterpwa/interface/Admin/frontapps/admin/sources/templates/extends/logo.svg
include phanterpwa/interface/Admin/frontapps/admin/statics/css/all.min.css
include phanterpwa/interface/Admin/frontapps/admin/statics/css/normalize.css
include phanterpwa/interface/Admin/frontapps/admin/statics/css/phanterpwa.css
include phanterpwa/interface/Admin/frontapps/admin/statics/favicons/android-chrome-144x144.png
include phanterpwa/interface/Admin/frontapps/admin/statics/favicons/android-chrome-192x192.png
include phanterpwa/interface/Admin/frontapps/admin/statics/favicons/android-chrome-256x256.png
include phanterpwa/interface/Admin/frontapps/admin/statics/favicons/android-chrome-512x512.png
include phanterpwa/interface/Admin/frontapps/admin/statics/favicons/apple-touch-icon.png
include phanterpwa/interface/Admin/frontapps/admin/statics/favicons/browserconfig.xml
include phanterpwa/interface/Admin/frontapps/admin/statics/favicons/favicon-16x16.png
include phanterpwa/interface/Admin/frontapps/admin/statics/favicons/favicon-32x32.png
include phanterpwa/interface/Admin/frontapps/admin/statics/favicons/favicon.ico
include phanterpwa/interface/Admin/frontapps/admin/statics/favicons/manifest.json
include phanterpwa/interface/Admin/frontapps/admin/statics/favicons/mstile-150x150.png
include phanterpwa/interface/Admin/frontapps/admin/statics/favicons/site.webmanifest
include phanterpwa/interface/Admin/frontapps/admin/statics/fonts/88bdc70ec292cc29451932f9875b378a.eot
include phanterpwa/interface/Admin/frontapps/admin/statics/fonts/88bdc70ec292cc29451932f9875b378a.svg
include phanterpwa/interface/Admin/frontapps/admin/statics/fonts/88bdc70ec292cc29451932f9875b378a.ttf
include phanterpwa/interface/Admin/frontapps/admin/statics/fonts/88bdc70ec292cc29451932f9875b378a.woff
include phanterpwa/interface/Admin/frontapps/admin/statics/fonts/88bdc70ec292cc29451932f9875b378a.woff2
include phanterpwa/interface/Admin/frontapps/admin/statics/fonts/d6lIkaiiRdih4SpP_SovzAbt.woff2
include phanterpwa/interface/Admin/frontapps/admin/statics/fonts/d6lIkaiiRdih4SpP_SQvzA.woff2
include phanterpwa/interface/Admin/frontapps/admin/statics/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2
include phanterpwa/interface/Admin/frontapps/admin/statics/fonts/L0x5DF4xlVMF-BfR8bXMIjhFq3-OXg.woff2
include phanterpwa/interface/Admin/frontapps/admin/statics/fonts/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2
include phanterpwa/interface/Admin/frontapps/admin/statics/fonts/Roboto-Thin.eot
include phanterpwa/interface/Admin/frontapps/admin/statics/fonts/Roboto-Thin.ttf
include phanterpwa/interface/Admin/frontapps/admin/statics/fonts/Roboto-Thin.woff
include phanterpwa/interface/Admin/frontapps/admin/statics/fonts/Roboto-Thin.woff2
include phanterpwa/interface/Admin/frontapps/admin/statics/fonts/roboto-v20-latin-regular.eot
include phanterpwa/interface/Admin/frontapps/admin/statics/fonts/roboto-v20-latin-regular.svg
include phanterpwa/interface/Admin/frontapps/admin/statics/fonts/roboto-v20-latin-regular.ttf
include phanterpwa/interface/Admin/frontapps/admin/statics/fonts/roboto-v20-latin-regular.woff
include phanterpwa/interface/Admin/frontapps/admin/statics/fonts/roboto-v20-latin-regular.woff2
include phanterpwa/interface/Admin/frontapps/admin/statics/images/background.jpg
include phanterpwa/interface/Admin/frontapps/admin/statics/images/user.png
include phanterpwa/interface/Admin/frontapps/admin/statics/images/warning.png
include phanterpwa/interface/Admin/frontapps/admin/statics/js/hammer.min.js
include phanterpwa/interface/Admin/frontapps/admin/statics/js/hammer.min.js.map
include phanterpwa/interface/Admin/frontapps/admin/statics/js/jquery.hammer.js
include phanterpwa/interface/Admin/frontapps/admin/statics/js/jquery.min.js
include phanterpwa/interface/Admin/frontapps/admin/statics/js/jquery.min.map
include phanterpwa/interface/Admin/frontapps/admin/statics/js/touch-emulator.js
include phanterpwa/interface/Admin/frontapps/admin/statics/json/manifest.json
include phanterpwa/interface/Admin/frontapps/admin/statics/json/manifest.webmanifest
include phanterpwa/interface/Admin/frontapps/admin/statics/lib/codemirror.css
include phanterpwa/interface/Admin/frontapps/admin/statics/lib/codemirror.js
include phanterpwa/interface/Admin/frontapps/admin/statics/mode/python/index.html
include phanterpwa/interface/Admin/frontapps/admin/statics/mode/python/python.js
include phanterpwa/interface/Admin/frontapps/admin/statics/mode/python/test.js
include phanterpwa/interface/Admin/frontapps/admin/statics/webfonts/fa-brands-400.eot
include phanterpwa/interface/Admin/frontapps/admin/statics/webfonts/fa-brands-400.ttf
include phanterpwa/interface/Admin/frontapps/admin/statics/webfonts/fa-brands-400.woff
include phanterpwa/interface/Admin/frontapps/admin/statics/webfonts/fa-brands-400.woff2
include phanterpwa/interface/Admin/frontapps/admin/statics/webfonts/fa-regular-400.eot
include phanterpwa/interface/Admin/frontapps/admin/statics/webfonts/fa-regular-400.ttf
include phanterpwa/interface/Admin/frontapps/admin/statics/webfonts/fa-regular-400.woff
include phanterpwa/interface/Admin/frontapps/admin/statics/webfonts/fa-regular-400.woff2
include phanterpwa/interface/Admin/frontapps/admin/statics/webfonts/fa-solid-900.eot
include phanterpwa/interface/Admin/frontapps/admin/statics/webfonts/fa-solid-900.ttf
include phanterpwa/interface/Admin/frontapps/admin/statics/webfonts/fa-solid-900.woff
include phanterpwa/interface/Admin/frontapps/admin/statics/webfonts/fa-solid-900.woff2
include phanterpwa/interface/Admin/LICENSE
include phanterpwa/interface/Admin/logs/api.log
include phanterpwa/interface/Admin/logs/app.log
include phanterpwa/interface/Admin/logs/readme.txt
include phanterpwa/interface/Admin/temp/extends_mtime_admin.json
include phanterpwa/interface/Admin/temp/extends_mtime_components.json
include phanterpwa/interface/Admin/temp/extends_mtime_scaffold_app.json
include phanterpwa/interface/Admin/temp/extends_mtime_sindfa.json
include phanterpwa/interface/Admin/temp/phanterpwa_modules_mtime.json
include phanterpwa/interface/Admin/temp/readme.txt
include phanterpwa/interface/Admin/temp/statics_mtime_admin.json
include phanterpwa/interface/Admin/temp/statics_mtime_components.json
include phanterpwa/interface/Admin/temp/statics_mtime_scaffold_app.json
include phanterpwa/interface/Admin/temp/statics_mtime_sindfa.json
include phanterpwa/interface/Admin/temp/styles_mtime_admin.json
include phanterpwa/interface/Admin/temp/styles_mtime_components.json
include phanterpwa/interface/Admin/temp/styles_mtime_scaffold_app.json
include phanterpwa/interface/Admin/temp/styles_mtime_sindfa.json
include phanterpwa/interface/Admin/temp/templates_mtime_admin.json
include phanterpwa/interface/Admin/temp/templates_mtime_components.json
include phanterpwa/interface/Admin/temp/templates_mtime_scaffold_app.json
include phanterpwa/interface/Admin/temp/templates_mtime_sindfa.json
include phanterpwa/interface/Admin/temp/transcrypts_mtime_admin.json
include phanterpwa/interface/Admin/temp/transcrypts_mtime_components.json
include phanterpwa/interface/Admin/temp/transcrypts_mtime_scaffold_app.json
include phanterpwa/interface/Admin/temp/transcrypts_mtime_sindfa.json
include phanterpwa/interface/Admin/temp/_compiler_sass_temp_file.sass
include phanterpwa/interface/Admin/trash/readme.txt
include phanterpwa/interface/grafics/icon.ico
include phanterpwa/interface/grafics/on.jpg
include phanterpwa/interface/langs/English.json
include phanterpwa/interface/langs/entries.json
include phanterpwa/interface/langs/Portuguese.json
include phanterpwa/samples/about_cli
include phanterpwa/samples/about_graphic
include phanterpwa/samples/art
include phanterpwa/samples/art_cli
include phanterpwa/samples/config.json
include phanterpwa/samples/email.sass
include phanterpwa/scaffolds/Scaffold_PhanterPWA_TM.ppwa
include phanterpwa/tests/helpers_out/my_sass.sass
include phanterpwa/tests/helpers_out/new_sass.sass
include phanterpwa/tests/path_of_languages/entries.json
include phanterpwa/tests/path_of_languages/es.json
include phanterpwa/tests/path_of_languages/fr.json
include phanterpwa/tests/path_of_languages/pt-BR.json
include phanterpwa/tests/path_of_languages/pt-PT.json
include phanterpwa/tests/preloaders/test_components_preloaders_android.html
include phanterpwa/tests/preloaders/test_components_preloaders_discs.html
include phanterpwa/tests/preloaders/test_components_preloaders_explosion.html
include phanterpwa/tests/preloaders/test_components_preloaders_run_points.html
include phanterpwa/tests/preloaders/test_components_preloaders_square.html
include phanterpwa/tests/preloaders/test_components_preloaders_squares.html
include phanterpwa/tests/static/jquery.min.js
include phanterpwa/tests/static/jquery.min.map
include phanterpwa/tests/test_cli_projects/not_project/config.json
include phanterpwa/tests/test_cli_projects/project-invalid-name/config.json
include phanterpwa/tests/test_cli_projects/project01/config.json
include phanterpwa/tests/test_cli_projects/project02/config.json
include phanterpwa/tests/test_configer_path/fake_project/config.json
include phanterpwa/tests/test_configer_path/project-invalid-name/config.json
include phanterpwa/tests/test_configer_path/project01/backapps/api/app.ini
include phanterpwa/tests/test_configer_path/project01/backend/api/app.ini
include phanterpwa/tests/test_configer_path/project01/config.json
include phanterpwa/tests/test_configer_path/project01/frontapps/app01/app.ini
include phanterpwa/tests/test_configer_path/project01/frontapps/app02/app.ini
include phanterpwa/tests/test_configer_path/project01/frontend/app01/app.ini
include phanterpwa/tests/test_configer_path/project01/frontend/app02/app.ini
include phanterpwa/tests/test_configer_path/project01/project.ini
include phanterpwa/tests/test_configer_path/project02/config.json
include phanterpwa/tests/test_configer_path/project_without_confgjson_and_with_ini/backend/api/app.ini
include phanterpwa/tests/test_configer_path/project_without_confgjson_and_with_ini/config.json
include phanterpwa/tests/test_configer_path/project_without_confgjson_and_with_ini/frontend/app01/app.ini
include phanterpwa/tests/test_configer_path/project_without_confgjson_and_with_ini/frontend/app02/app.ini
include phanterpwa/tests/test_configer_path/project_without_confgjson_and_with_ini/project.ini
include phanterpwa/tests/test_configer_path/project_without_ini/backend/api/app.ini
include phanterpwa/tests/test_configer_path/project_without_ini/config.json
include phanterpwa/tests/test_configer_path/project_without_ini/project.ini
include phanterpwa/tests/test_folder/cfg.json
include phanterpwa/tests/test_folder/cfgij.json
include phanterpwa/tests/test_folder/config.json
include phanterpwa/tests/test_helpers_languages/en-US.json
include phanterpwa/tests/test_helpers_languages/entries.json
include phanterpwa/tests/test_helpers_languages/glingon.json
include phanterpwa/tests/test_helpers_languages/pt-BR.json
include phanterpwa/tests/test_i18n_languages/en-US.json
include phanterpwa/tests/test_i18n_languages/entries.json
include phanterpwa/tests/test_i18n_languages/pt-BR.json
include phanterpwa/tests/test_i18n_languages/pt-PT.json
include phanterpwa/tests/test_tools_humanize_seconds/entries.json
include phanterpwa/tests/test_tools_humanize_seconds/pt-BR.json
include phanterpwa/trash/readme.txt
include phanterpwa/usual_sass/components/alert_top_activation.sass
include phanterpwa/usual_sass/components/breascrumbs.sass
include phanterpwa/usual_sass/components/buttons.sass
include phanterpwa/usual_sass/components/capcha_preload.sass
include phanterpwa/usual_sass/components/captcha.sass
include phanterpwa/usual_sass/components/captcha_preload_image_3x4.sass
include phanterpwa/usual_sass/components/card.sass
include phanterpwa/usual_sass/components/cmp_auth_user.sass
include phanterpwa/usual_sass/components/datetimepicker.sass
include phanterpwa/usual_sass/components/developer.sass
include phanterpwa/usual_sass/components/easy.sass
include phanterpwa/usual_sass/components/flash.sass
include phanterpwa/usual_sass/components/forms.sass
include phanterpwa/usual_sass/components/messages.sass
include phanterpwa/usual_sass/components/modal.sass
include phanterpwa/usual_sass/components/modal_login.sass
include phanterpwa/usual_sass/components/phanterpwa_gallery.sass
include phanterpwa/usual_sass/components/phanterpwa_gallery_cutter.sass
include phanterpwa/usual_sass/components/phanterpwa_panel_control.sass
include phanterpwa/usual_sass/components/progressbar.sass
include phanterpwa/usual_sass/components/pseudomodal.sass
include phanterpwa/usual_sass/components/run_points.sass
include phanterpwa/usual_sass/components/sections.sass
include phanterpwa/usual_sass/components/snippet.sass
include phanterpwa/usual_sass/components/widgets.sass
include phanterpwa/usual_sass/components/xtable.sass
include phanterpwa/usual_sass/display/grid.sass
include phanterpwa/usual_sass/display/media_print.sass
include phanterpwa/usual_sass/events/waves.sass
include phanterpwa/usual_sass/extends/capcha_preload.sass
include phanterpwa/usual_sass/extends/logo.sass
include phanterpwa/usual_sass/extends/run_points.sass
include phanterpwa/usual_sass/gates/componentes.sass
include phanterpwa/usual_sass/gates/main.sass
include phanterpwa/usual_sass/phanterpwa.sass
include phanterpwa/usual_sass/plugins/codemirror.sass
include phanterpwa/usual_sass/preloaders/android.sass
include phanterpwa/usual_sass/preloaders/discs.sass
include phanterpwa/usual_sass/preloaders/explosion.sass
include phanterpwa/usual_sass/preloaders/indefined_text.sass
include phanterpwa/usual_sass/preloaders/run_points.sass
include phanterpwa/usual_sass/preloaders/square.sass
include phanterpwa/usual_sass/preloaders/squares.sass
include phanterpwa/usual_sass/variables.sass
