.phanterpwa-snippet-centralizer
    min-height: 20px
    height: 20px
    overflow: hidden
    transition: height 1s ease



.phanterpwa-snippet-promooption
    text-decoration: none
    color: inherit
    .promo-icon_and_title
        &>i
            font-size: 80pt
    &.link
        &:hover
            .promo-content
                color: rgba(0, 0, 0, 0.8)


